.title--main {
  padding: 0 35px 10px;
}

.subtitle--main {
  padding: 0 25px 50px;
}

.main__image-container {
  width: 100%;
}

.main__image {
  display: block;
  width: 80%;
  margin: 0 auto 50px;
}