.snippets {
  margin-bottom: 195px;
}

.title--main {
  padding: 0 35px 10px;
}

.subtitle--main {
  padding: 0 25px 50px;

  @media only screen and (min-width: $desktop-view) {
    width: 50%;
    margin: 0 auto;
  }
}

.main {
    &__image-container {
    width: 100%;
  }

    &__image {
    display: block;
    width: 80%;
    margin: 0 auto 50px;
  }
}

@media only screen and (min-width: $desktop-view) {
  .desktop-row {
    display: flex;
  }

  .desktop-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-left: 80px;
  }

  .title--desktop-snippet {
    padding: 0 0 10px;
  }

  .subtitle--desktop-snippet {
    margin: 0 0 40px;
    padding: 0 0 10px;
    width: 60%;
  }

  .image-container--snippet {
    width: 50%;
  }

  .image--snippet {
    margin: 0 0 50px -60px;
    width: 110%;
  }
}