.button {
  display: block;
  margin: 0 auto 25px;

  width: 310px;
  height: 55px;

  font-family: inherit;
  font-size: 0.9em;
  color: white;

  border-radius: 50px;
  border: none;

  &--ios {
    background-color: $primary-one;
    border-bottom: 3px solid $primary-one-dark;
    box-shadow: 0px 2px 20px rgba($primary-one, 0.6);
  }

  &--mac {
    background-color: $primary-two;
    border-bottom: 3px solid $primary-two-dark;
    box-shadow: 0px 2px 20px rgba($primary-two, 0.6);
  }
}