$primary-one: hsl(171, 66%, 44%);
$primary-one-dark: #219f8a;
$primary-two: hsl(233, 100%, 69%);
$primary-two-dark: #4f62da;

$neutral-one: hsl(210, 10%, 33%);
$neutral-two: hsl(201, 11%, 66%);
$neutral-three: #f5f6f8;